.strength-bars {
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 30%;
  height: 10px;
  background-color: gray;
  border-radius: 4px;
}

.bar.red {
  background-color: red;
}

.bar.yellow {
  background-color: yellow;
}

.bar.green {
  background-color: green;
}

.bar.gray {
  background-color: gray;
}
