section {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.strength-bars {
  display: flex;
  justify-content: space-between;
}

.bar {
  width: 30%;
  height: 10px;
  background-color: gray;
  border-radius: 4px;
}

.bar.red {
  background-color: red;
}

.bar.yellow {
  background-color: yellow;
}

.bar.green {
  background-color: green;
}

.bar.gray {
  background-color: gray;
}
